@media screen and (min-width:768px){

.logo span {
    font-size: 1.8rem;
}

.navigation{
display:flex;
flex-direction:row;
gap:1rem;
}

#menu{
display:none;
}

.home-grid{
grid-template-columns: 1fr 1fr 1.5fr;
}

.hero img{
height:600px;
}

#spotlights{
grid-template-columns:1fr 1fr 1fr;
}

.join-container {
grid-template-columns: 2fr 1fr;
align-items: start;
}

}

@media screen and (min-width:641px){

#discover-grid{

grid-template-columns:
1fr 1fr;

grid-template-areas:

"card1 card2"
"card3 card4"
"card5 card6"
"card7 card8";

}

}

@media screen and (min-width:1025px){

#discover-grid{

grid-template-columns:
1fr 1fr 1fr;

grid-template-areas:

"card1 card1 card2"
"card3 card4 card5"
"card6 card7 card8";

}

#discover-grid img:hover{

transform:scale(1.05);

transition:.3s;

}

}